fastapi
uvicorn[standard]

sqlalchemy
asyncpg
alembic

python-dotenv
pydantic
pydantic-settings

python-jose
passlib[bcrypt]

redis
celery

websockets

pytest
pytest-asyncio
httpx
greenlet
psycopg2-binary
python-multipart
email-validator

bcrypt==4.0.1

ollama


slowapi

black
isort
flake8